<header>
    <nav>
        <a href="">HOME</a>
        <a href="">O CASAL</a>
        <a href="">CERIMÔNIA & RECEPÇÃO</a>
        <a href="">TRAJES</a>
    </nav>
</header>
<section id="casal" class="bg-padrao">
    <p>ALERRAN E ALICE</p>
</section>
<section id="fotos-previas" class="bg-padrao">
    <img src="assets\casal\IMG-20250731-WA0088.jpg" alt="">
    <img src="assets\casal\IMG-20250731-WA0090.jpg" alt="">
    <img src="assets\casal\IMG-20250731-WA0102.jpg" alt="">
</section>
<section id="data-casamento" class="bg-padrao">
    <p>24.10.2026</p>
</section>
<section id="contagem-regressiva">
    <p id="contagem-texto">CONTAGEM REGRESSIVA</p>
    <div id="contagem-container">
        <div class="campo-contagem">
            <p class="unidade-contagem">{{tempoRestante.dias}}</p>
            <p class="metrica">DIAS</p>
        </div>
        <div class="campo-contagem">
            <p class="unidade-contagem">{{tempoRestante.horas}}</p>
            <p class="metrica">HORAS</p>
        </div>
        <div class="campo-contagem">
            <p class="unidade-contagem">{{tempoRestante.minutos}}</p>
            <P class="metrica">MINUTOS</P>
        </div>
        <div class="campo-contagem">
            <p class="unidade-contagem">{{tempoRestante.segundos}}</p>
            <P class="metrica">SEGUNDOS</P>
        </div>
    </div>
</section>
<section id="foto-casal" class="bg-padrao">
    <img src="assets\casal\IMG-20250803-WA0009.jpg" alt="">
</section>
<section>
    <p>Se você está aqui é porque ocupa um espaço importante nas nossas vidas</p>
    <p>Nosso grande dia está se aproximando e estamos extremamente felizes em compartilhar com você este momento tão especial</p>
    <p>E aqui você encontrará os detalhes sobre o nosso casamento. Já estamos na contagem regressiva e esperamos que você possa estar ao nosso lado para celebrar este dia!</p>
</section>